div {
    height: 100px;
    width: 100px;
    background-color: brown;
    border: 2px solid black;

    position: absolute;
    left: 300px;
    top: 300px;

   /* animation-name: colorAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;*/
    animation: colorAnimate 3s ease-in 1s infinite normal;
}

@keyframes colorAnimate {
    from{
        left: 0px;
         background-color: yellow;
        }
    to {
        left: 200px;
        background-color: brown;
        color: white;
        }

}