* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
      height: 60px;
      background-color: #0f1111;
      color: white;
      display: flex;
      justify-content: flex-start;
}


.nav-logo {
    height: 50px;
    width: 100px;
    display: flex;
}


.logo {
    background-image: url("amazon_logo_white.svg");
    background-size: cover;
    height: 50px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}