div {
    height: 50px;
    width: 100px;
    background-color: cornflowerblue;
    /*
    border-width: 4px;
    border-style: double;
    border-color: blue;*/
    border: 4px double blue;
    text-align: center;
    margin: 40px;
}

h1 {
    width: 600px;
    height: 50px;
    background-color: rgb(142, 142, 203);
    /*border-width: 3px;
    border-style: dashed;
    border-color: black;*/
    border: 3px dashed black;
    text-align: center;

}

body {
    background-color: lightgoldenrodyellow;
}

button {
    background-color: rgb(42, 153, 165);
}

.types {
    background-color: aliceblue;
    height: 45px;
    width: 170px;
    border: 4px brown solid;
    text-align: center;
    border-radius: 10%;
    background-color: rgb(255, 246, 127);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 50px;
}