body {
    text-align: center;  
}

h1 {
    text-decoration: underline;
}

div {
    height: 100px;
    width: 200px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    align-items: flex-start;
}

#box1 {
    background-color: aqua
}

#box2 {
    background-color: violet;
    height: 200px;
    /*align-self:flex-end ;*/
    flex-shrink: 1;
}

#box3 {
    background-color: pink;
    height: 75px;
}

#box4 {
    background-color: gold;
}

#box5 {
    background-color: palevioletred;
    align-self: flex-end;
}

