div {
    height: 300px;
    width: 300px;
    background-color: aqua;
    border: 5px solid black;
    display: inline-block;
    margin: 50px;
}

h1 {
    text-align: center;
    text-decoration: dotted;
    color: white;
    font-size: 50px;
    text-decoration: underline;
    
}

#box1 {
    background-image: url(box1.jpg);
    background-size: cover;
}

#box2 {
    background-image: url(box2.jpg);
    background-size: cover;

}

#box3 {
    background-image: url(box3.jpg);
    background-size: cover;
}

#box4 {
    background-image: url(box4.jpg);
    background-size: cover;
}



body {
    background-image: url(background.jpg);
    background-size: cover;
    padding-bottom: 100px;
}

#box5 {
    width: 100%;
    height: 80px;
    color: white;

    background-color: #0f1111;

    position: fixed;
    bottom: 0px;
    left: 0px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

    z-index: 1000;
}