* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

body{
    background-color: aliceblue;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

#outer {
    font-size: 25px ;
}

#inner {
    font-size: 10px ;
}
