.loader {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-top: 20px solid black;
    border-top: 20px solid black;
    border: 20px solid #8A89C0;
    border-top: 20px solid black;
    animation: spinAnimate 1s ease-in-out 0s infinite normal; 
   
}

@keyframes spinAnimate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

    
    
}