

/*
*{
    color: pink;
}

h1{
    color: black;
}


p{
    color: #694966;
}



button{
    background-color: brown;
}


buttton{
    color: brown;
}


#headingOne {
    color: blue;
}



#headingTwo {
    color: black;
}



.myClass {
    color: violet;
}

body {
    background-color: #E2D686;
}
 