div {
    height: 100px;
    width: 100px;
    background-color: blue;
    border: 2px solid black;
    position: absolute;
    top: 100px;
    left: 100px;
    /*transition-property: all;
    transition-duration: 2s;
    transition-timing-function: step(3);
    transition-delay: 1s;*/
    transition: all 2s ease-in ;
}

div:hover {
    /*background-color: red;
    color: white;
    font-size: 15px;
    transform: rotate(180deg);
    transform: translate(100px);*/
    transform: skew(30deg);
}


div:active{
    background-color: yellowgreen;
}